html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.header {
    text-align: center;
    height: 150px;
    line-height: 64px;
    background-color: #fff;
}

h1 {
    font-weight: 700;
    color: #17171B;
    font-size: 32px;
    margin-bottom: -20px;
}

p {
    color: #747476;
}