.about-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: left;
    gap: 8px;
}

.about-info-text {
    text-align: justify;
    color: rgba(116, 116, 118, 1);
    font-size: 16px;
    line-height: 19.09px;
    margin-top: 10px;
}

h4 {
    color: #1677ff;
    font-size: 16px;
    line-height: 19.09px;
    font-weight: 700;
    text-align: left;
}

.about-info p:first-child {
    margin-bottom: -5px;
    justify-content: center;
}

.about-table {
    display: grid;
    grid-template-columns: 1fr 80%; 
    max-width: 480px;
    text-align: left;
}

.about-table > div {
    margin: 2px;
    padding: 5px;
    text-align: left;
}

.about-table-key {
    color: rgba(23, 23, 27, 1);
    font-weight: 700;
    min-width: 120px;
}

.about-table-value {
    color: rgba(116, 116, 118, 1);
}

.about-img:not(:first-child) {
    margin-left: 10px;
}

.male-gender {
    color: #1677ff;
}

.female-gender {
    color: rgb(237, 110, 199);
}
