.flex-detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    color: #fff;
    padding-bottom: 10px;
}

.detail-header-wrapper {
    background-color: #8bbe8a;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 210px;
}

.detail-header {
    max-width: 900px;
    margin: 0 auto;
    margin-top: -2rem;
    padding-top: 2rem;
    background-image: url('../../assets/pattern-2.png'), url('../../assets/pokeball-2.png');
    background-size: 4rem, 15%;
    background-position: top 0px right 32%, top 50% left 35%;
    background-repeat: no-repeat;
}

.detail-header h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.detail-header span {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    margin-bottom: -50px;
    color: rgba(23, 23, 27, 0.6);
}

.detail-info {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.detail-image img {
    height: 70%;
    width: 200px;
    object-fit: contain;
}

.detail-text {
    margin-top: 40px;
}

.detail-body-wrapper-sm {
    max-width: 600px;
    margin: 0 auto;
}

.detail-body-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

@media screen and (min-width:1px) and (max-width:600px) {
    .detail-body {
        padding-left: 5%;
        padding-right: 5%;
    }
}
